{% extends "hello/layout.html" %}
{% block content %}
<h1>Your Contacts</h1>
<table class="table">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email Address</th>
  </tr>

  {% for contact in contacts %}
    <tr>
      <td>{{ contact.givenName }}</td>
      <td>{{ contact.surname }}</td>
      <td>{{ contact.emailAddresses.0.address }}</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
