{% extends "hello/layout.html" %}
{% block content %}
<h1>Your Events</h1>
<table class="table">
  <tr>
    <th>Subject</th>
    <th>Start</th>
    <th>End</th>
  </tr>

  {% for event in events %}
    <tr>
      <td>{{ event.subject }}</td>
      <td>{{ event.start.dateTime }} ({{ event.start.timeZone }})</td>
      <td>{{ event.end.dateTime }} ({{ event.end.timeZone }})</td>
    </tr>
  {% endfor %}
</table>
{% endblock %}
